#canvas1 {
    cursor: crosshair;
    border: thin solid;
}

#iterText {
    margin-left: 10px;
    width: 50px;
    text-align: right;
}

#iter {
    margin-left: 10px;
    color: blue;
    font-size: small;
}

.panel {
    border: thin gray solid;
}